@page
@model EventsSample.AspNetCore.Pages.IndexModel


<form method="post">
    <label asp-for="Message"></label>
    <input asp-for="Message" />
    <input type="submit" value="Send" />
</form>

<h4>History</h4>
@foreach (var message in Model.Messages)
{
    <p>@message</p>
}